.transaction-history-header {
  margin-top: 20px;
  font-size: 20px;
  margin-left: 30px;
  font-weight: 900;
}

.transaction-table {
  width: 90%;
  border-collapse: collapse; /* Remove border-collapse to remove cell borders */
  margin-top: 20px;
  margin-left: 90px;
}

.transaction-table th,
.transaction-table td {
  padding: 12px 15px;
  text-align: left;
  transition: background-color 0.3s, color 0.3s;
}

.transaction-table th {
  font-weight: bold;
}

.transaction-table tbody tr:hover {
  background-color: #d1f7ff;
  color: #000;
}
